<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MyWebProect</display-name>
  <welcome-file-list>
    <welcome-file>welcome.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>Hello</servlet-name>
  <servlet-class>com.java.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Hello</servlet-name>
  <url-pattern>/hello</url-pattern>
  </servlet-mapping>
    <servlet>
  <servlet-name>Greeting</servlet-name>
  <servlet-class>com.java.servlet.GreetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Greeting</servlet-name>
  <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
      <servlet>
  <servlet-name>Product</servlet-name>
  <servlet-class>com.java.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Product</servlet-name>
  <url-pattern>/products</url-pattern>
  </servlet-mapping>
  
       <servlet>
  <servlet-name>User</servlet-name>
  <servlet-class>com.java.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>User</servlet-name>
  <url-pattern>/users</url-pattern>
  </servlet-mapping>
  
        <servlet>
  <servlet-name>DeleteUser</servlet-name>
  <servlet-class>com.java.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DeleteUser</servlet-name>
  <url-pattern>/remove</url-pattern>
  </servlet-mapping>
        <servlet>
  <servlet-name>UpdateUser</servlet-name>
  <servlet-class>com.java.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdateUser</servlet-name>
  <url-pattern>/update</url-pattern>
  </servlet-mapping>
</web-app>